.main-title {
    text-align: center;
}

main {
    display: flex;
}

form {
    padding: 12px;
    background-color:beige;
}

aside {
    padding: 48px;
}

.button {
    height: 32px;
    background-color: cornsilk;
    border: none;
    border-radius: 4px;
}

.form-btn-container {
    margin-top: 24px;
    margin-bottom: 16px;
}

.bg-cornsilk {
    background-color: cornsilk;
}

.bg-reset {
    background-color: red;
    color: black;
}